body {
    font-family: 'GolosTextWeb' !important;
}

@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos Text_Regular.eot');
    src: url('../fonts/Golos Text_Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos Text_Regular.woff2') format('woff2'),
        url('../fonts/Golos Text_Regular.woff') format('woff'),
        url('../fonts/Golos Text_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos Text_Medium.eot');
    src: url('../fonts/Golos Text_Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos Text_Medium.woff2') format('woff2'),
        url('../fonts/Golos Text_Medium.woff') format('woff'),
        url('../fonts/Golos Text_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos Text_DemiBold.eot');
    src: url('../fonts/Golos Text_DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos Text_DemiBold.woff2') format('woff2'),
        url('../fonts/Golos Text_DemiBold.woff') format('woff'),
        url('../fonts/Golos Text_DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos Text_Bold.eot');
    src: url('../fonts/Golos Text_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos Text_Bold.woff2') format('woff2'),
        url('../fonts/Golos Text_Bold.woff') format('woff'),
        url('../fonts/Golos Text_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos Text_Black.eot');
    src: url('../fonts/Golos Text_Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos Text_Black.woff2') format('woff2'),
        url('../fonts/Golos Text_Black.woff') format('woff'),
        url('../fonts/Golos Text_Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
