.item-creation-main-text{
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #212529;
    margin-bottom: 30px;
    text-align: left;
}

.popup-content {
    width: 60% !important;
    /*top: 60px !important;*/
    /*margin-bottom: 80px !important;*/
    border-radius: 10px !important;
    padding: 40px 40px 50px 40px !important;
    text-align: left;
}

.popup-overlay{
    z-index: 2000 !important;
}

.margin-bottom-top-phrase-create{
    margin-bottom: 30px;
}

.close:hover{
    cursor: pointer !important;
}

#price-id-text .MuiTypography-body1{
    font-size: 16px !important;
}

.button-popup-create{
    background: #FE5F55;
    padding: 15px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.popup-overlay{
    animation-name: modalFade;
    animation-duration: .3s;
    overflow-y: auto !important;
    /*background: rgba(0, 0, 0, 0.87) !important;*/
}

@keyframes modalFade {
    from {opacity: 0;}
    to {opacity: 1;}
}

#outlined-select-currency .MuiSvgIcon-root{
    margin-top: -2px;
}

.button-amount{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18) !important;
    border: 1px solid #ebebec !important;
    border-radius: 50% !important;
    background: white !important;
}

.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlined.button-amount.button-add-amount {
    margin-right: 25px;
}

.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlined.button-amount.button-reduce-amount {
    margin-left: 25px;
}

.margin-bottom-create-item{
    margin-bottom: 35px;
}