.item-title-popup{
    font-weight: 600;
    font-size: 24px;
    color: #212529;
    margin-bottom: 30px;
}

.name-category-item-popup{
    font-weight: 600;
    font-size: 13px;
    color: #717171;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text-category-item-popup{
    font-size: 16px;
    color: #212529;
    margin-bottom: 0;
}

.delete-item-popup-text{
    text-align: center;
    font-size: 20px;
    color: #212529;
    margin-bottom: 20px;
}

.description-group-page{
    color: #212529;
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: -25px;
}

#margin-bottom-page-group{
    margin-bottom: 60px;
}

.padding-button-delete{
    padding-top: 40px;
}

.padding-button-text-delete{
    padding-top: 40px;
}