.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-row{
  display: flex;
  justify-content: center;
}

.align-items-center{
  display: flex;
  align-items: center;
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.justify-content-end{
  display: flex;
  justify-content: flex-end;
}

button:focus{
  outline: none
}

.MuiFormControl-root {
  width: 100% !important;
}

.MuiInputLabel-outlined{
  /*font-size: 16px !important;*/
  font-family: "GolosTextWeb", sans-serif !important;
}

.MuiTypography-body1{
  font-family: "GolosTextWeb", sans-serif !important;
}

.MuiOutlinedInput-input{
  padding: 16px 14px !important;
}

body{
  /*background: #fafaff !important;*/
  background: #fffdfd !important;
}

.no-gutters{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutters-left{
  padding-left: 0 !important;
}

.MuiInputBase-root legend{
  font-size: 12.5px !important;
}

.MuiInputLabel-outlined{
  font-size: 16px !important;
}

.MuiInputBase-input{
  /*height: 1.4876em !important;*/
}

.MuiSelect-select.MuiSelect-select{
  font-size: 16px !important;
  font-family: "GolosTextWeb", sans-serif !important;
}

.MuiListItem-root{
  font-size: 16px !important;
  font-family: "GolosTextWeb", sans-serif !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.MuiButtonGroup-root{
  width: 100% !important;
}